In [1]:
import pandas as pd 
import string

In [2]:
import re

###### MOVIES DB --> Title and Date

In [45]:

def get_year(name):
    result=re.search('\s\((\d{4})\)$', name)
    if result: 
        return int(result.groups()[0])
def clean_name(name):
    result=re.sub('\s\((\d{4})\)$','',name)
    result=re.sub(r"\(.*\)", "", name)
    l1=(result.split(','))
    l1.reverse()
    result=' '.join(l1)
    return result

In [47]:
movies= pd.read_csv('movies.csv')

In [48]:
movies['year']=movies['title'].apply(lambda x: get_year(x))
movies['title']=movies['title'].apply(lambda x: clean_name(x))

In [49]:
movies['year']

0       1995.0
1       1995.0
2       1995.0
3       1995.0
4       1995.0
         ...
9737    2017.0
9738    2017.0
9739    2017.0
9740    2018.0
9741    1991.0
Name: year, Length: 9742, dtype: float64

In [50]:
movies['title'][1877]

' The  Fantastic Planet'

In [51]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,2,Jumanji,Adventure|Children|Fantasy,1995.0
2,3,Grumpier Old Men,Comedy|Romance,1995.0
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995.0
4,5,Father of the Bride Part II,Comedy,1995.0

In [52]:
movies_df= movies.drop('genres', axis=1)

In [53]:
movies_df=movies_df.fillna(0)
movies_df['year']=movies_df['year'].astype(int)

In [54]:
movies_df.to_csv('movies_df.csv')

###### Genre Enumeration

In [12]:
genres_list= ['action','adventure','animation',"children",'Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western','(no genres listed)']
genres_list=[x.lower() for x in genres_list]
genres_dict= dict((i,j) for i,j in enumerate(genres_list))

In [13]:
genres_dict

{0: 'action',
 1: 'adventure',
 2: 'animation',
 3: 'children',
 4: 'comedy',
 5: 'crime',
 6: 'documentary',
 7: 'drama',
 8: 'fantasy',
 9: 'film-noir',
 10: 'horror',
 11: 'musical',
 12: 'mystery',
 13: 'romance',
 14: 'sci-fi',
 15: 'thriller',
 16: 'war',
 17: 'western',
 18: '(no genres listed)'}

In [14]:
movies['genres']= movies['genres'].apply(lambda x: x.lower().split('|'))
movies['genres']

0       [adventure, animation, children, comedy, fantasy]
1                          [adventure, children, fantasy]
2                                       [comedy, romance]
3                                [comedy, drama, romance]
4                                                [comedy]
                              ...
9737                 [action, animation, comedy, fantasy]
9738                         [animation, comedy, fantasy]
9739                                              [drama]
9740                                  [action, animation]
9741                                             [comedy]
Name: genres, Length: 9742, dtype: object

In [15]:
genres_list= ['action','adventure','animation',"children",'Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western','(no genres listed)']
genres_list=[x.lower() for x in genres_list]
genres_dict= dict((i,j) for i,j in enumerate(genres_list))
def genres_convert(list1):
    l2=[]
    for l in list1:
        for key, value in genres_dict.items():
            if value==l:
                l2.append(key)
    return(l2)

In [16]:
t1=['adventure', 'animation', 'children', 'comedy', 'fantasy']
genres_convert(t1)

[1, 2, 3, 4, 8]

In [17]:
movies['genre']= movies['genres'].apply(lambda x: genres_convert(x))

In [18]:
movies['genre']

0       [1, 2, 3, 4, 8]
1             [1, 3, 8]
2               [4, 13]
3            [4, 7, 13]
4                   [4]
             ...
9737       [0, 2, 4, 8]
9738          [2, 4, 8]
9739                [7]
9740             [0, 2]
9741                [4]
Name: genre, Length: 9742, dtype: object

###### New Tables

In [19]:
movies_df1=movies.explode('genre')

In [20]:
movie_genre_table= movies_df1.drop(['title', 'genres','year'], axis=1)

In [21]:
movie_genre_table.to_csv('movie_genre_table.csv')

In [22]:
#genres_df=pd.DataFrame([genres_dict])
genre_df=pd.Series(genres_dict).to_frame().reset_index()
genre_df.columns=['genreId','genre']

In [23]:
genre_df.to_csv('genres_df.csv')

In [24]:
movies.to_csv('movies_new.csv')