In [1]:
import pandas as pd

In [2]:
ratings= pd.read_csv('ratings.csv')

In [3]:
ratings=ratings.drop('timestamp',axis=1)

In [4]:
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [5]:
ratings.to_csv('ratings_cleaned.csv',index=False)